# {{ ansible_managed }}

Package: kubelet
Pin: version {{ kubeadm_version_kubelet }}
Pin-Priority: 999

Package: kubeadm
Pin: version {{ kubeadm_version_kubeadm }}
Pin-Priority: 999

Package: kubectl
Pin: version {{ kubeadm_version_kubectl }}
Pin-Priority: 999