---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
caCertPath: /etc/kubernetes/pki/ca.crt
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ kubeadm_control_plane_endpoint }}:6443"
    token: "{{ hostvars[groups['kubeadm_masters'][0]]['token']['stdout'] }}"
    caCertHashes:
      - sha256:{{ hostvars[groups['kubeadm_masters'][0]]['discovery_token_ca_cert_hash']['stdout'] }}
  timeout: 4m0s
nodeRegistration:
{% if kubeadm_cri_type == "containerd" %}
  criSocket: /run/containerd/containerd.sock
{% elif kubeadm_cri_type == "docker" %}
  criSocket: /var/run/dockershim.sock
{% endif %}
  kubeletExtraArgs:
    cloud-provider: "external"
{% if "kubeadm_masters" in group_names %}
controlPlane:
  certificateKey: "{{ hostvars[groups['kubeadm_masters'][0]]['certificate_key']['stdout'] }}"
  localAPIEndpoint: 
    advertiseAddress: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
    bindPort: 6443
{% endif %}

---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: "{{ kubeadm_cri_cgroup_driver }}"
