---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
certificateKey: {{ certificate_key.stdout }}
nodeRegistration:
  kubeletExtraArgs:
    cloud-provider: "external"
skipPhases:
  - addon/kube-proxy
localAPIEndpoint:
  advertiseAddress: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
  bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: v1.23.0
controlPlaneEndpoint: "{{ control_plane_endpoint }}:6443"
clusterName: {{ dns_domain }}
networking:
  dnsDomain: "{{ dns_domain }}.local"
  podSubnet: "{{ pod_network_cidr }}"
  serviceSubnet: "{{ service_cidr }}"
apiServer:
  extraArgs:
    cloud-provider: "external"
controllerManager:
  extraArgs:
    cloud-provider: "external"